body {
}

#avatar {
  width:200px;
}
.ProjectPadding {
  padding: 5px;
}

.PortfolioItem {
  border-radius: 5px;
}

.projectRow {
    display: table;
}

.projectRow [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
